@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

body,
html {
  height: calc(100% - 2em);
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background: #352fd1;
  background: -moz-linear-gradient(45deg, #352fd1, #ce2ddb, 100%);
  background: -webkit-linear-gradient(45deg, #352fd1, #ce2ddb, 100%);
  background: linear-gradient(45deg, #352fd1, #ce2ddb);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

aside {
  display: grid;
  grid-template-columns: auto 40px;
  padding: 2em;
  color: #fff;
}

img {
  width: 40px;
  cursor: pointer;
}

figure {
  margin: 0;
}
figcaption {
  font-size: 1.3em;
  font-weight: bold;
}

nav {
  background-color: #fff;
}

.active {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #fff;
}

ul {
  display: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5em 3em;
  font-size: 0.8em;
  background-color: rgba(255, 255, 255, 0.35);
  color: #000;
}

main {
  padding: 1em 1.4em;
  background-color: #fff;
}

h1 {
  margin: 0;
}

p {
  font-size: 1.1em;
  line-height: 1.5em;
}

.cta {
  display: block;
  padding: 8px 50px;
  margin: 2em 0;
  background-color: #0e7fff;
  border-radius: 4px;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  color: #fff;
}

/* for tablet */
@media only screen and (min-width: 768px) {
  body {
    display: grid;
    grid-template-columns: 20% auto;
    padding: 2em;
  }
  img {
    display: none;
  }
  aside {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 20% auto;
    padding: 0;
    background-color: #d9def7;
  }
  main {
    padding: 4em;
    background: #fff url("../images/side-wave.svg") no-repeat bottom -1px right;
    background-size: 70%;
  }

  #avatar {
    width: 50px;
    height: 50px;
    margin: 2em auto 1em;
    border-radius: 50%;
    background-color: #fff;
  }

  figcaption {
    text-align: center;
    color: #000000;
  }

  ul {
    display: block;
    width: 100% !important;
    position: relative !important;
    background: none !important;
    margin-top: 2em;
  }

  ul li:hover {
    background-color: #fff;
  }

  nav {
    background: none;
  }

  .cta {
    display: inline-block;
    font-size: 1.3em;
    padding: 0.8em 3em;
  }

  h1 {
    font-size: 3em;
    margin-top: 2em;
  }

  p {
    font-size: 1.5em;
  }
}
